<div class="form">
    <div class="form-heading">
        <h2>Coloca a sua casa no nosso site e começa a ganhar dinheiro</h2>
    </div>

    <div class="form-details">
        <div class="camp">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required formControlName="name">
            </div>
            <div>
                <label for="number">Numero telemóvel:</label>
                <input type="number" id="number" name="number" required formControlName="number">
            </div>
        </div>
        
        <div class="camp">
            <div>
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required formControlName="address">       
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" required formControlName="price">   
            </div>
        </div>
        
        <div class="camp">
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description" required formControlName="description"></textarea>        
            </div>
            <div>
                <label>Cancelamento antecipado:</label>
                <input type="checkbox" id="hasCancel" name="hasCancel" formControlName="hasCancel">
                <div>
                    <label for="cancelDate">Cancel Date:</label>
                    <input type="date" id="cancelDate" name="cancelDate" formControlName="cancelDate">       
                </div>
            </div>
        </div>
        
        <div class="camp">
            <div>
                <label for="adultsNum">Number of Adults:</label>
                <input type="number" id="adultsNum" name="adultsNum" formControlName="adultsNum">
            </div>
            <div>
                <label for="childsNum">Number of Children:</label>
                <input type="number" id="childsNum" name="childsNum" formControlName="childsNum">
            </div>
            <div>
                <label for="babiesNum">Number of Babies:</label>
                <input type="number" id="babiesNum" name="babiesNum" formControlName="babiesNum">
            </div>
        </div>
        
        <div class="checkbox-group">
            <div class="checkbox-container">
                <input type="checkbox" id="hasWIFI" name="hasWIFI" formControlName="hasWIFI">
                <label for="hasWIFI">Has WIFI</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="hasKitchen" name="hasKitchen" formControlName="hasKitchen">
                <label for="hasKitchen">Has Kitchen</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="hasParking" name="hasParking" formControlName="hasParking">
                <label for="hasParking">Has Parking</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="hasSelfChekin" name="hasSelfChekin" formControlName="hasSelfChekin">
                <label for="hasSelfChekin">Has Self Checkin</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="hasWorkSpace" name="hasWorkSpace" formControlName="hasWorkSpace">
                <label for="hasWorkSpace">Has Workspace</label>
            </div>
            <div class="checkbox-container">
                <input type="checkbox" id="hasFridge" name="hasFridge" formControlName="hasFridge">
                <label for="hasFridge">Has Fridge</label>
            </div>
        </div>
        
        <div>
            <label for="images">Images:</label>
            <input type="file" id="images" name="images" multiple formControlName="images">
        </div>
        
        <button type="submit" class="submit-btn">Adicionar</button>
    </div>
</div>
