<footer class="footer">
    <div class="container">
        <div class="column">
           <img class="logo-tipo" src="./assets/imgs/image2.png">
            <h3> Cada vez melhor<br>
                <span class="footer-heading-span">AirbnbPlus</span></h3>
            <p>Um Airbnb por cada tipo de viagem <br>
        </div>
        <div class="column">
            <h3>Apoio</h3>
            <ul>
                <a routerLink="/support"  routerLinkActive="active" ><li>Equipa de support</li></a>
                <li>Tornar anfitrião</li>
            </ul>
        </div>
        <div class="column">
            <h3>Onde estamos?</h3>
            <ul>
                <li><a href="https://www.visitportugal.com/pt-pt">Portugal</a></li>
                <li>Turquia</li>
                <li>Siria</li>
            </ul>
        </div>
        <div class="column">
            <h3>Contact Us</h3>
            <p><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Portugal, Beja</p>
            <p><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;+12345678988</p>
           <p><i class="fas fa-envelope"></i>&nbsp;&nbsp;<a href="20696@stu.ipbeja.pt">20696&commat;stu.ipbeja.pt</a></p>
            <div class="social-icons">  
                <a href="https://www.facebook.com/abdullah.shakra.7/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.linkedin.com/in/abdullah-shakra-053797210/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <i class="fab fa-whatsapp-square"></i>
            </div>
        </div>
    </div>

    <hr>

    <div class="copyright">
        <p>&copy; 2024 Your Company. All rights reserved || Developed by <span>&#10084;</span> Abdoulaah Shakra</p>
    </div>
</footer>