<div class="container">
    <p class="added-prop-quantity">
        <span class="added-prop-quantity__text"> Casas Adicionadas: </span>
        <span class="added-prop-quantity_num"> 4 </span>
    </p>
    <div class="my-props" *ngFor="let i of [1, 2, 3, 4]">
        <img src="../../../../../assets/imgs/login-background.png" alt="Property Image">
        <div class="prop-details">
            <div class="top-details">   
                <div class="left-side">
                    <span class="local"> Manteigas Portugal </span>
                    <span class="price"> 35€ por noite</span>
                    <span class="capacity"> 2 Adulto, 1 Bebe</span>
                </div>
                <div class="right-side">
                    <ul class="commodities">
                        <li>Self Check-in</li>
                        <li>WIFI</li>
                        <li>Espaço de trabalho exclusivo</li>
                        <li>Parking</li>
                    </ul>
                </div>
            </div>
            <div class="bottom-detail">
                <p> Cancelamento gratuito até 14 de abril </p>
            </div>
            <div class="action-buttons">
                <button class="edit-btn">Editar</button>
                <button class="remove-btn">Remover</button>
            </div>
        </div>
    </div>
</div>
