<app-client-navbar></app-client-navbar>

<div *ngIf="selectedProperty !== undefined; else content" class="container">
  <div class="propertyResume">
    <p>
      Accommodation for:
      {{ adults !== 0 ? adults + " adults" : 'none' }}
      {{ babies !== 0 ? ', ' + babies + ' babies' : '' }}
      {{ animals !== 0 ? ', ' + animals + ' animals' : '' }}
    </p>
  </div>
  <div class="slider-location">
    <div class="slider-wrapper" #sliderWrapper>
      <button id="prev-slide" (click)="scrollLeft()" class="slide-button material-symbols-rounded">chevron_left</button>
      <div class="image-list" #imageList>
        <img *ngFor="let image of selectedProperty?.images; let i = index" [src]="image" class="image-item"
          [alt]="'img-' + i">
      </div>
      <button id="next-slide" (click)="scrollRight()"
        class="slide-button material-symbols-rounded">chevron_right</button>
    </div>
    <div class="location">
      <p>{{selectedProperty?.name}}, {{selectedProperty?.city}}</p>
    </div>
  </div>

  <div class="propertyDetails">
    <div class="commodities-container">
      <div class="title">
        <p>What this place offers</p>
      </div>
      <div class="commodities" *ngIf="selectedProperty?.previewAmenities?.length">
        <div *ngFor="let amenity of selectedProperty?.previewAmenities" class="commodity-item">
          {{ amenity }}
        </div>
      </div>
    </div>

    <div class="property-info">
      <div class="info-item">
        <p><strong>Type:</strong> {{ selectedProperty?.type }}</p>
        <p><strong>Neighborhood:</strong> {{ selectedProperty?.neighborhood }}</p>
        <p><strong>Bathrooms:</strong> {{ selectedProperty?.bathrooms }}</p>
        <p><strong>Bedrooms:</strong> {{ selectedProperty?.bedrooms }}</p>
        <p><strong>Beds:</strong> {{ selectedProperty?.beds }}</p>
      </div>
      <div class="info-item">
        <p><strong>Superhost:</strong> {{ selectedProperty?.isSuperhost ? 'Yes' : 'No' }}</p>
        <p><strong>Rare Find:</strong> {{ selectedProperty?.rareFind ? 'Yes' : 'No' }}</p>
        <p><strong>Capacity:</strong> {{ selectedProperty?.persons }} people</p>
        <p><strong>Reviews:</strong> {{ selectedProperty?.reviewsCount }}</p>
        <p><strong>Rating:</strong> {{ selectedProperty?.rating }}</p>
      </div>
    </div>

    <div class="price-info">
      <p class="price-per-night">$ {{ selectedProperty?.amount }} / night</p>
      <div class="datesbox">
        <div class="dates">
          <p class="text">Check-in</p>
          <p class="date">{{ checkInDate ? checkInDate : '__' }}</p>
        </div>
        <div class="dates">
          <p class="text">Check-out</p>
          <p class="date">{{ checkOutDate ? checkOutDate : '__' }}</p>
        </div>
      </div>
      <div class="hosts-num">
        <p class="host-text">Guests</p>
        <p class="hosts">{{ adults !== 0 ? adults + " adults" : 'none' }}
          {{ babies !== 0 ? ', ' + babies + ' babies' : '' }}
          {{ animals !== 0 ? ', ' + animals + ' animals' : '' }}</p>
      </div>
      <a href="{{selectedProperty?.deeplink}}" target="_blank">
        <button class="reserve-btn">Reserve</button>
      </a>
      <div class="payment-value">
        <p class="value-text"> {{ selectedProperty?.price_title }}</p>
        <p class="total-value">Total value: $ {{ selectedProperty?.amount }} (Already with taxes)</p>
      </div>
    </div>
  </div>
</div>

<app-client-footer></app-client-footer>

<ng-template #content>
  <div class="not-found-container">
    <p class="not-found-text">NOTHING FOUND.</p>
  </div>
</ng-template>
