<app-client-navbar></app-client-navbar>

<div *ngIf="selectedProperty !== undefined; else content" class="container">
  <div class="propertyResume">
    <p>
      Alojamento para:
      {{ adults !== 0 ? adults + " adultos" : 'nenhum' }}
      {{ babies !== 0 ? ', ' + babies + ' bebês' : '' }}
      {{ animals !== 0 ? ', ' + animals + ' animais' : '' }}
    </p>



  </div>
  <div class="slider-location">
    <div class="slider-wrapper" #sliderWrapper>
      <button id="prev-slide" (click)="scrollLeft()" class="slide-button material-symbols-rounded">chevron_left</button>
      <div class="image-list" #imageList>
        <img *ngFor="let image of selectedProperty?.images; let i = index" [src]="image" class="image-item"
          [alt]="'img-' + i">
      </div>
      <button id="next-slide" (click)="scrollRight()"
        class="slide-button material-symbols-rounded">chevron_right</button>
    </div>
    <div class="location">
      <p>{{selectedProperty?.name}}, {{selectedProperty?.city}}</p>
    </div>
  </div>

  <div class="propertyDetails">
    <div class="commodities-container">
      <div class="title">
        <p>O que este espaço oferece</p>
      </div>
      <div class="commodities" *ngIf="selectedProperty?.previewAmenities?.length">
        <div *ngFor="let amenity of selectedProperty?.previewAmenities" class="commodity-item">
          {{ amenity }}
        </div>
      </div>
    </div>

    <div class="property-info">
      <div class="info-item">
        <p><strong>Tipo:</strong> {{ selectedProperty?.type }}</p>
        <p><strong>Bairros:</strong> {{ selectedProperty?.neighborhood }}</p>
        <p><strong>Banhos:</strong> {{ selectedProperty?.bathrooms }}</p>
        <p><strong>Quartos:</strong> {{ selectedProperty?.bedrooms }}</p>
        <p><strong>Camas:</strong> {{ selectedProperty?.beds }}</p>
      </div>
      <div class="info-item">
        <p><strong>Superhost:</strong> {{ selectedProperty?.isSuperhost ? 'Sim' : 'Não' }}</p>
        <p><strong>Encontrar Raramente:</strong> {{ selectedProperty?.rareFind ? 'Sim' : 'Não' }}</p>
        <p><strong>Capacidade:</strong> {{ selectedProperty?.persons }} pessoas</p>
        <p><strong>Avaliações:</strong> {{ selectedProperty?.reviewsCount }}</p>
        <p><strong>Classificação:</strong> {{ selectedProperty?.rating }}</p>
      </div>
    </div>

    <div class="price-info">
      <p class="price-per-night">$ {{ selectedProperty?.amount }} / noite</p>
      <div class="datesbox">
        <div class="dates">
          <p class="text">Check-in</p>
          <p class="date">{{ checkInDate ? checkInDate : '__' }}</p>
        </div>
        <div class="dates">
          <p class="text">Check-out</p>
          <p class="date">{{ checkOutDate ? checkOutDate : '__' }}</p>
        </div>
      </div>
      <div class="hosts-num">
        <p class="host-text">Hóspedes</p>
        <p class="hosts">{{ adults !== 0 ? adults + " adultos" : 'nenhum' }}
          {{ babies !== 0 ? ', ' + babies + ' bebês' : '' }}
          {{ animals !== 0 ? ', ' + animals + ' animais' : '' }}</p>
      </div>
      <a href="{{selectedProperty?.deeplink}}" target="_blank">
        <button class="reserve-btn">Reservar</button>
      </a>
      <div class="payment-value">
        <p class="value-text"> {{ selectedProperty?.price_title }}</p>
        <p class="total-value">Total value: $ {{ selectedProperty?.amount }} (Already with taxes)</p>
      </div>
    </div>
  </div>
</div>

<app-client-footer></app-client-footer>

<ng-template #content>
  <div class="not-found-container">
    <p class="not-found-text">NADA FOI ENCONTRADO.</p>
  </div>
</ng-template>