<div class="container">
  <div *ngFor="let property of properties; let i = index" class="property-card-container">
    <a (click)="showPropertyDetails(property)">
      <div class="propertyImage">
        <img [src]="property.images[0]" alt="Property Image {{property.id}}">
      </div>
      <div class="propertyDescription">
        <p>{{property.city}}</p>
        <p>{{property.name}}</p>
        <p> {{property.price_title}}</p>
      </div>
    </a>
  </div>

  <div class="loader" *ngIf="loading"></div>
</div>
